*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --whtie: #fff;
    --drkPurple: #33076d;
    --black: #000000;
    --lghtPurple: #b498d3;
    --grey: #929096;
}

header {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.highscore {
    color: var(--lghtPurple);
    font-size:medium;
    float:left;
}

.timer {
    color: var(--black);
    font-size: medium;
    float: right;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--whtie);
    color: var(--black);
}

ol {
    list-style-type: georgian;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 100px;
    text-align: left;
    padding: 5%;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 100px;
    text-align: left;
    align-content: center;
    padding: 5%;
}

h1 {
    color: var(--black);
    font-weight: bolder;
}

h2 {
    color: var(--black);
}

.container > .title {
    justify-content: center;
    text-align: center;
}

.container > .instructions {
    font-size: medium;
    text-align: center;
}

.container> .startBtn {
    align-items: center;
}


.highScoreList {
    background-color: var(--lghtPurple);
    color: var(--black);
}

button {
    display: flex;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    width: 175px;
    height: 50px;
    cursor: pointer;
    color: var(--whtie);
    background-color: var(--drkPurple);
    justify-content: center;
    align-items: left;
}

.hidden {
    display: none;
}

.answerEval {
    color: var(--grey);
    font-style: italic;
    border-top: 2px solid var(--grey);
}